:root {
	--mainBlue: #16355f;
	--lightBlue: #f3f3f3f3;
	--mainWhite: #f3f3f3f3;
	--mainDark: #2d2b35;
	--mainYellow: #a0721e;
}

/* font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Gayathri', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Unica One', cursive; */

body {
	font-family: "Unica One", cursive !important;
	background: var(--mainWhite) !important;
	color: var(--mainDark) !important;
}

.text-title {
	font-family: "Oswald", sans-serif;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
}

.text-blue {
	color: var(--mainBlue);
}

.text-bright {
	color: var(--lightBlue);
}

.navbar {
	background-color: #2d2b35;
	padding-bottom: 0 !important;
}

.navbar-logo {
	height: 5rem;
	width: auto;
	border-radius: 4px;
	margin-top: 0.3rem;
}
.navbar-title {
	color: var(--mainWhite);
	font-family: "BenchNine", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 1.25rem;
	letter-spacing: 2px;
	margin-left: 1.2rem;
	padding-top: 0.3rem;
}

.btn-black {
	background: transparent;
	text-transform: capitalize;
	font-size: 0.8rem !important;
	color: var(--mainDark);
	border-radius: 0 !important;
	border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
	background: var(--mainDark) !important;
	color: var(--mainWhite) !important;
}

.cart-icon {
	cursor: pointer;
	font-size: 1.2rem;
	color: var(--mainYellow);
}
